@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  color: rgb(10, 100, 122);
  cursor: pointer;
}
.slide {
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide::-webkit-scrollbar {
  display: none;
}

.slide {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  
}
.slide__container{
  display: flex;
 gap: 10px;
 
}
.card {
  width: 400px;
  height: 250px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

